// Define variables for your color scheme

// For example:
$java: #17b9e6;	//primary button
$st-tropaz: #2659a5; //info button
$ocean-green: #3cb27d; //success button
$tussock:	#b9a245; //warning button
$pomegranate:	#f44336; //danger button
$gray: #7C898F; //border
$light-gray: #F9F4F1; //body
$spray: #63E0EF; //title
