<p style="color: green"><%= notice %></p>

<%= link_to "Back to cars", cars_path %>
<h1 class="text-center mt-3">All My bookings</h1>

<div class="cards">
  <% @bookings.each do |booking| %>
    <%= link_to car_path(booking.car), class:"text-decoration-none" do %>
      <%= render booking %>
    <% end %>
  <% end %>
</div>
