@keyframes car_move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.car_move_animation {
  animation: car_move 0.8s linear infinite;
}
.car_move_animation_slower {
  animation: car_move 9s linear infinite;
}

@keyframes car_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
