<p style="color: ocean-green"><%= notice %></p>

<div class="d-flex flex-row align-items-center justify-content-center">
  <h1>All the cars </h1>
  <%= content_tag(:i, ' ', class:"#{car_side_icon} fa-2x ms-4 car_move_animation")%>
</div>

<div class="cards">
  <% @cars.each do |car| %>
  <%= link_to car, class:"text-decoration-none" do %>
    <div class="wrapper-card">
      <%= render car %>
    </div>
  <% end %>
  <% end %>
</div>
